<html ng-app='myApp'>
<head>
<meta charset="utf-8">
<title>Awesome Friends</title>
<!-- Angular from bower_components, otherwise find the CDN -->
<script src="angular/angular.js" charset="utf-8"></script>
<script src='angular-route/angular-route.js'></script>
<script src='angular-cookies/angular-cookies.js'></script>
<script src="assets/app.js" charset="utf-8"></script>



<!-- End Bower Components -->
<script src="assets/controllers/users.js" charset="utf-8"></script>
<script src="assets/controllers/questions.js" charset="utf-8"></script>
<script src="assets/controllers/sessionController.js" charset="utf-8"></script>
<script src="assets/controllers/resultsController.js" charset="utf-8"></script>
<script src="assets/factories/users.js" charset="utf-8"></script>
<script src="assets/factories/questions.js" charset="utf-8"></script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" >
<script type ="text/javascript">

$(document).ready(function (){
            // this triggers the connection event in our server!
            var socket = io.connect();
            // we'll write all the socket stuff after the above line!
            $('#form1').submit(function (event){
              event.preventDefault();
    socket.emit("form_submitted", {name: $("#name").val(), comment: $("#comment").val()});
});

 $('#last_score').submit(function (event){
              event.preventDefault();
    socket.emit("form_submitted_last_score", {name: $("#name").val(), score: $("#score").val(), test_name: $("#test_name").val() });
});


socket.on('server_response', function (data){
    console.log('The server says: ');
    // console.log(data.name);
    $("#output").append("<p>" + data.response.name + ":" + data.response.comment + "</p>");
});

socket.on('server_response_last_score', function (data){
    console.log('The server says:', data);
    
    $("#output").append("<p>" + data.response.name + "'s last score was " + data.response.score + " in " + data.response.test_name + "</p>");
});
  $('#leader_board').click(function(){
    window.location.href = '#/leaderboard';
  });
  $('#home').click(function(){
    window.location.href = '#/';
  });

})



// </script>

<style>
#output {
width: 150px;
height: 150px;
overflow: scroll;
}
</style>

</head>
  <body style="background-image: url('./assets/images/facepalm.png'); background-size: 100% 100%;">
<b>NAV BAR: </b>
<button id="home">Home</button>
<button id="leader_board">Leader Board</button>


<div id= "output">
output div
</div>
<div ng-controller="sessionController">

The last test name is {{currentUser.results[currentUser.results.length-1].test_name}}
<br>
The last score is {{currentUser.results[currentUser.results.length-1].score}}

<!-- <div ng-repeat= "x in currentUser.results">
  {{x.test_name}} {{x.score}} {{x[0]}}
 </div> -->

<form id= 'form1'>
  <input id= "name" type="hidden" ng-value= "currentUser.name">
  Chat <input id= "comment" type="text">
  <button type= "submit"> Submit </button>
</form> 

<form id = "last_score">
  <input id= "name" type="hidden" ng-value= "currentUser.name">
  <input id= "score" ng-value= "currentUser.results[currentUser.results.length-1].score" type="hidden">
  <input id= "test_name" ng-value= "currentUser.results[currentUser.results.length-1].test_name" type="hidden">

   Share Score <button type= "Share Score"> Submit </button>


</div>
  


    <div ng-view= ''>
    </div>
    
  </body>

  <div ng-repeat= "x in all_users">
    Name is {{x.name}}
  <!-- 
    <div ng-repeat = "y in x.results">
      Score is {{y.score}}
      Test name is {{y.test_name}}
    </div>    -->
</html>